name: Deploy on Merge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Build aplicação
        run: mvn clean package -DskipTests

      - name: Build imagem Docker
        run: docker build -t fastfood-pagamento:latest .

      - name: Deploy container
        run: |
          docker stop fastfood-pagamento || true
          docker rm fastfood-pagamento || true
          docker run -d \
            --name fastfood-pagamento \
            -p 8082:8080 \
            fastfood-pagamento:latest